---
import Layout from '@/layouts/Layout.astro';
import { getCustomers } from '@/lib/api';

const baseUrl = Astro.url.origin;
const customersResponse = await getCustomers(baseUrl);

import { CustomersTable } from '@/components/admin/customers-table';
import { CreateCustomerButton } from '@/components/admin/create-customer';
---

<Layout title="Customers">
  {customersResponse.success ? (
    <CustomersTable data={customersResponse.customers} />
  ) : (
    <p>No customers yet</p>
  )}

  <div slot="actions">
    <CreateCustomerButton client:only="react" />
  </div>
</Layout>
