---
import Layout from '@/layouts/Layout.astro';
import { getSubscriptions } from '@/lib/api';

const { API_TOKEN } = Astro.locals.runtime.env;
const baseUrl = Astro.url.origin;
const subscriptionsResponse = await getSubscriptions(baseUrl, API_TOKEN);

import { CreateSubscriptionButton } from '@/components/admin/create-subscription';
import { SubscriptionsTable } from '@/components/admin/subscriptions-table';
---

<Layout title="Subscriptions">
  {subscriptionsResponse.subscriptions.length ? (
    <SubscriptionsTable data={subscriptionsResponse.subscriptions} />
  ) : (
    <p>No subscriptions yet</p>
  )}

  <div slot="actions">
    <CreateSubscriptionButton apiToken={API_TOKEN} client:only="react" />
  </div>
</Layout>
